img/cover.png
img/ICON.png
img/logo_orig.png
img/vector/default-monochrome-black.svg
img/vector/default-monochrome-white.svg
img/vector/default-monochrome.svg
img/vector/default.svg
img/vector/isolated-layout.svg
img/vector/isolated-monochrome-black.svg
img/vector/isolated-monochrome-white.svg
